@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .py-navbar-item {
        @apply py-6;
    }

    .pt-navbar-item {
        @apply pt-6;
    }

    .pb-navbar-item {
        @apply pb-6;
    }

    .px-navbar-item {
        @apply px-3;
    }

    .pl-navbar-item {
        @apply pl-3;
    }

    .pr-navbar-item {
        @apply pr-3;
    }
}

@layer components {
    .btn-primary {
        @apply text-white bg-purple-600 py-2 px-4 rounded shadow-md hover:bg-purple-700 active:bg-purple-800 transition-colors;
    }
}

body {
    background-color: #e5e7eb;
}

.wysiwyg-content > blockquote,
.wysiwyg-content > dl,
.wysiwyg-content > dd,
.wysiwyg-content > h1,
.wysiwyg-content > h2,
.wysiwyg-content > h3,
.wysiwyg-content > h4,
.wysiwyg-content > h5,
.wysiwyg-content > h6,
.wysiwyg-content > hr,
.wysiwyg-content > figure,
.wysiwyg-content > p,
.wysiwyg-content > pre {
    margin: revert;
}

.wysiwyg-content > ol,
.wysiwyg-content > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.wysiwyg-content > table {
    border-collapse: revert;
}

.wysiwyg-content > h1,
.wysiwyg-content > h2,
.wysiwyg-content > h3,
.wysiwyg-content > h4,
.wysiwyg-content > h5,
.wysiwyg-content > h6 {
    font-size: revert;
    font-weight: revert;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    padding: 0.5rem;
}

.table-sm > tbody > tr > td,
.table-sm > thead > tr > th {
    padding: 0.25rem;
}

.category-list > .category-item:hover > .category-list {
    display: flex;
}

.category-list
    > .category-item
    > .category-list
    > .category-item
    > .category-list {
    left: 100%;
    top: 0;
}

.card {
    transition: transform 500ms ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
}

@media (hover) {
    .card-content {
        transition: transform 500ms ease;
        transform: translateY(100%);
    }

    .card-content > * {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content {
        transform: translateY(0);
    }

    .card:hover .card-content > * {
        opacity: 1;
    }
}

.active {
    font-weight: semibold;
    border-bottom: #6366f1 solid 2px;
    color: #6366f1;
}

.scrollTop::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 4px solid #1e293b; /* Colore e spessore del bordo */
    border-radius: 9999px; /* Mantiene il bordo arrotondato */
    box-sizing: border-box;
    clip-path: var(--clip-path); /* Inizialmente nascosto */
    transition: clip-path 0.2s ease-out; /* Transizione morbida */
}
